<h3>{{viewTitle}}</h3>

<form action='/student' method="POST" autocomplete="off">
    <input type="hidden" name="__id" value="{{student.__id}}">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="{{student.fullName}}">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email Adress" value="{{student.email}}">
    </div>
    
    <div class="form-group">
        <label>Position applied for</label>
        <input type="text" class="form-control" name="posApplied" placeholder="Position applied for" value="{{student.posApplied}}">
    </div>
    <div class="form-group">
        <label>Highest Qualification</label>
        <input type="text" class="form-control" name="highestQ" placeholder="Highest Qualification Earned" value="{{student.highestQ}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Submit</button>
        <a class="btn btn-secondary" href="/student/list">View All</a>
    </div>
</form>